.pressable {
    background-color: #ffffff00;
    border-width: 0px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pressable:hover {
    cursor: pointer;
}

.pressable:focus {
    outline: 0;
}
