.pathway-day {
    display: flex;
    padding: 100px;
    padding-bottom: 0px;
    width: 1500px;
}

.pathway-resource-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    border: 2px solid #00000010;
    border-radius: 25px;
    width: 240px;
}

.pathway-resource-card > img {
    width: 150px;
}

.pathway-resource-card > h3 {
    margin: 30px 0px 0px 0px;
    font-size: 1.35em;
    line-height: 1.25;
}

.pathway-info {
    margin-left: 40px;
    height: 100%;
}

.pathway-info > h2 {
    margin-left: 0px;
}

.pathway-difficulty {
    margin-top: 50px;
    text-transform: lowercase;
}

.pathway-difficulty a:link { 
    text-decoration: none; 
}

.pathway-difficulty a:visited { 
    text-decoration: none; 
}

.pathway-difficulty a:hover { 
    text-decoration: none; 
}

.pathway-difficulty a:active { 
    text-decoration: none; 
}