.filters-container{
    text-align: left;
    margin: 10%;
}

h2{
    font-size: 36px;
}

.filter-category{
    border: 2px solid #00000015;
    border-radius: 15px;
    margin: 30px 5%;
    padding: 15px;
}