.pathway-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-bottom: 0px;
}

.pathway-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 45px;
    padding-bottom: 0px;
    max-width: 1200px;
}

.pathway-container > img {
    width: 300px;
    margin-bottom: 30px;
}

.pathway-info {
    display: block;
    text-align: start;
    font-size: 1.1em;
    margin-bottom: 90px;
}

.gen-pathway-button {
    margin-top: 24px;
}


@media screen and (min-width: 1280px) {
    .pathway-container {
        flex-direction: row;
    } 

    .pathway-container > img {
        width: 600px;
        margin-right: 200px;
        margin-bottom: 0px;
    }
}

