.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 484px;
    background-color: #00000010;
    margin-top: 65px; /* for nav bar */
}

h1 {
    font-size: 48px;
}