.quiz-question {
    display: flex;
    flex-direction: column;
    margin-left: 4%;
    margin-right: 4%;
    /* margin-top: 50px; */
    margin-bottom: 50px;
    font-size: 1.2em;
}

.quiz-question > h2 {
    font-size: 36px;
}

.quiz-choice {
    margin-left: 20px;
}

.quiz-dropdown {
    width: 300px;
    margin-left: 20px;
    font-size: 20px;
}