.results-container{
    text-align: left;
    margin: 4.3%;
}

h2{
    font-size: 36px;
}

p{
    margin: 5px;
}

.temp-result{
    border: 2px solid #00000015;
    border-radius: 15px;
    margin: 30px 2%;
    padding: 15px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}