.results-container{
    width: 70%;
    height: 100%;
    margin: 2%;
    text-align: left;
}

h2{
    font-size: 36px;
}

p{
    margin: 5px;
}

.temp-result{
    border: 2px solid #00000015;
    border-radius: 15px;
    margin: 30px 2%;
    padding: 15px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}