
h2 {
    font-size: 2.25rem;
}

.results-page-section {
    display: flex;
}

.filters-container {
    width: 30%;
    height: 100%;
    margin: 2%;
    text-align: left;
    border-left: 2px solid #00000015;
    padding: 30px;
}

.filters-container>* {
    margin-bottom: 30px;
}


.Experience-Level {
    display: flex;
    flex-direction: row;
}

.display-phone {
    display: none;
}

@media (max-width: 720px) {

    .filters-container {
        width: 100%;
        margin: auto;
    }

    .display-desktop {
        display: none;
    }

    .display-phone {
        display: block;
    }
}